.wrapper

  = render 'shared/header'
  = render 'shared/footer'

  .contents
    .sketch
      .sketch__base
        .sketch__base--frame
          .sketch__main
      .sketch__producer--frame
        .sketch__producer--name
          ピカソ
      .sketch__title--frame
        .sketch__title--name
          ゲルニカ
