= render 'shared/header'
= render 'shared/footer'
.form
  %form
    %input.form__user{:name => "name"}
    %input.form__title{:name => "title"}
    .form__mask
      %label.form__mask__image
        = fa_icon 'image',class: 'icon'
        %input.hidden{type: 'file'}
    %input.form__submit{type: 'submit', value: 'send'}