.footer {
  background-color: #FF9900;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  z-index: 1;
  position: fixed;
  &__left {
    height: 100px;
    width: 30%;
    float: left;
    &__user {
      margin: 0px 30px;
      font-size: 20px;
    }
    &--post {
    }
    &--barcodes {
    }
    .icon {
      color: black;
      font-size: 30px;
      margin: 5px 5px;
      float: left;
    }
  }
  .footer__triangle {
    width: 0;
    height: 0;
      border-left: 100px solid transparent;
      border-bottom: 100px solid black;
  }
  .footer__right {
    background-color: black;
    height: 100px;
    width: 155%;
    float: right;
  }
}